@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#f1-app{
  position: relative;
  /* height: 100vh; */
  min-height: 100vh;
}


li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.defaultTransition {
      opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
}

.defaultTransition-M1{
  animation-duration: 1s;
}

.defaultTransition-5MS{
  animation-duration: .5s;
}

.defaultTransition-P1{
  animation-duration: 2s;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}