@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,400i,600,600i");


* {
    font-family: 'Titillium Web';
}

.race-hub {
    margin: 20px 0;
}

.race-header {
    position: relative;
    height: 180px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.race-header {
    position: relative;
    height: 180px;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
}



.race-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: brightness(50%);
    backdrop-filter: brightness(50%);
}

.race-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.race-content h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Titillium Web';
    font-size: 1.5rem;
    text-align: center;
}

.race-content p {
    border-radius: 15px;
    margin-top: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    /* background-color: #15151e; */
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}

.race-year-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.race-year {
    width: 120px;
    height: auto;
    object-fit: cover;
}

.race-time {
    width: 100%;
    margin: 10px 0;
    color: #fff;
    text-transform: uppercase;
}

.race-time p {
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: uppercase;
}

.race-time h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
}


.race-listings {
    width: 100%;
    border-top: solid 10px #e10600;
    border-right: solid 10px #e10600;
    border-bottom: solid 10px #e10600;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 10px 10px 0;
}

.race-listing-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    backface-visibility: hidden;
    flex-wrap: wrap;
    overflow: hidden;
    padding: 10px 0;
    margin: 5px 0;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
}

.race-listing-item_date {
    width: 65px;
    text-align: center;
}

.race-listing-item_date p {
    font-size: 1.2rem;
    font-weight: 600;
}

.race-listing-item_date span {
    background-color: #ccc;
    padding: 2px 10px;
    border-radius: 5px;
}

.race-details {
    width: calc(100% - 65px);
    padding-left: 10px;
    border-left: dotted 2px #d0d0d2;

}

.race-details p {
    font-size: 1rem;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}


@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}