.standings-wrap{
    width: 100%;
    margin-bottom: 40px;
}

.standings-filter-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 20px 0;
}

.standing-results{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    color: #333;
    /* background-color: #fff; */
    border-radius: 10px;
}

.standing-results h1 {
    font-size: 1.5rem;
    padding: .5rem 0;
    text-align: center;
}