.driversResultsList {
    max-height: 450px;
    overflow: hidden;
    overflow-y: auto;
    margin: 10px 0;
}

.driverResultItem {
    margin: 5px 0;
    padding: 0.25rem;
    border-bottom: 1px solid #5a5757;
    border-right: 1px solid #5a5757;
    border-radius: 7px;
    box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px,
        rgb(0 0 0 / 23%) 0px 3px 6px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.driverResultItem>div {
    display: flex;
    align-items: center;
    flex: 1;
}

.driverPosition {
    width: 30px;
}

.team-color-bar {
    height: 100%;
    width: 2px;
    padding: 0.5rem 0rem;
    margin: 0 5px;
}

.winnerStickyTop{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
}


/* fastest lap */

@media(max-width:768px){
    .driverResultItemFS {
        display: flex;
        width: 100%;
        height: 100%;
    
        margin: 10px 0;
        /* border-bottom: 1px solid #5a5757;
        border-right: 1px solid #5a5757; */
        border-radius: 7px;
        box-shadow: rgb(0 0 0 / 16%) 0px 3px 6px,
            rgb(0 0 0 / 23%) 0px 3px 6px;
    }

    
    .driverResultItemFS .driverCN {
        display: flex;
        width: 100%;
        flex: 30%;
        /* justify-content: center; */
        align-items: center;
    }
    
    
    .team-color-bar-fastest {
        height: 100%;
        width: 1.5px;
        margin-right: 5px;
    }

    .fastest-driverName{
        display: flex;
        flex-direction: column;
    }
    
    .fastestName {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        /* font-size: .8rem; */
    }
    
    .fastestData {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        flex: 70%;
        align-items: center;
        margin-left: 5px;
    }

    .driverAVGSpeed,
    .driverLap,
    .driverFastestLap{
        display: flex;
        flex-direction: column;
    }

    .driverAVGSpeed{
        width: 40%;
        text-align: center;
    }
    
    .driverLap{
        width: 20%;
                text-align: center;
    }

    .driverFastestLap{
        width: 40%;
                text-align: center;
    }

    /* .driverLap .driverFastestLap */
}





