.usersList {
    margin: 20px 0 40px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 2rem;
    
}

.usersList li {
    list-style: none;
}

.userItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(109, 109, 109, .3);
    /* border: 1px solid #ff6f3c; */

    border-radius: 7px;
    height: 250px;
    /* width: 200px; */
}


.userProfilePic {
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0rem 2rem; */
    width: 100%;
    height: 100%;
    max-height: 175px;
}

.userProfilePic img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
    object-fit: contain;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background-position: center center;
    background-repeat: no-repeat;
    /* border: 2px solid #ff6f3c; */
}

.username {
    width: 100%;
    /* background-color: rebeccapurple; */
    color: #fff;
    text-align: center;
    font-size: 1.2rem;
}

.actionView {
    cursor: pointer;
    background-color: #e10600;
    border: none;
    padding: .25rem 0;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 7px;
    width: 80%;
    text-align: center;
    /* padding: 0 10%; */
}


/* @media (min-width: 576px) {
    .usersList {
        max-width: 576px;
    }
}

@media (min-width: 1024px) {
    .usersList {
        max-width: 986px;
    }
}

@media (min-width: 768px) {
    .usersList {
        max-width: 768px;
    }
} */