.cardTeam {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: solid 2px #e10600;
    border-right: solid 2px #e10600;
    border-top-right-radius: 10px;
    /* padding: 0 10px; */
    padding-right: 10px;
    /* margin: 20px 5px; */
}


.cardTeam_standing {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: 1px solid #949498;
    margin: 15px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTeam_standing__position {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3rem;

    display: flex;
    align-items: center;
    flex: 1;
}

.cardTeam_standing__points{
    display: flex;
    flex-direction: column;
    text-align: right;

    width: 70px;
}

.cardTeam_standing__points_number{
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 34px;
    text-align: center;
}

.cardTeam_standing__points_label{
    display: inline-block;
    padding: 2px 5px 1px;
    border-radius: 5px;
    color: #000;
    background: #fff;
    white-space: nowrap;
    font-weight: bold;
    text-align: center;
}


.cardTeam_standing_info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;
    border-bottom: 1px solid #949498;
    margin-bottom: 10px;
}

.cardTeam_standing_info_teamColorAndName{
    display: flex;
    align-items: center;
}

.team-color{ 
    display: inline-block;
    width: 5px;
    height: 28px;
    background-color: currentColor;
    margin-right: 13px;
}

.team-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.cardTeam_standing_info_logo {
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
}

.cardTeam_standing_info_logo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.cardTeam_drivers_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardTeam_driver{
    display: flex;
    flex-direction: column;
    border-right: solid 1px #949498;
    border-bottom: solid 1px #949498;
    border-bottom-right-radius: 10px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding: 0;
    width: 100%;
    max-width: 48%;
    overflow: hidden;
    margin-bottom: 10px;
}

.cardTeam_driver span:nth-child(1) {
    font-size: 1rem;
    line-height: 1rem;
}

.cardTeam_driver span:nth-child(2){
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}