@keyframes openScale {
    0% {
        transform: scale(0);

    }

    100% {
        transform: scale(1);
    }
}


.modal-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
}


.modal {
    /* margin-top: 40px; */
    background-color: #242832;
    padding: 0 20px 20px 20px;
    color: #FFFFFF;
    font-family: sans-serif;
    max-width: 350px;
    width: 100%;
    border-radius: 10px;

    position: fixed;
    top: 30vh;
    /* left: calc(50% - 15rem); */
    width: 30rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    z-index: 100;
    border-radius: 7px;
    animation: .25s openScale linear;
}

.modal .overlay {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-color: #e10600;
    border-radius: 10px;
    transform: translate(-5px, 5px);
}

.close {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 2rem;
    cursor: pointer;
}

.modal i {
    color: #e10600;
    background-color: #26303B;
    padding: 10px;
    border-radius: 50%;
}

.modal h2 {
    font-size: 20px;
    margin-bottom: 0px;
}

.modal p {
    font-size: 14px;
    color: #fff;
}

.modal button {
    background-color: #e10600;
    background-color: #26303B;
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 99px;
    border: 0px;
    margin-top: 25px;
    cursor: pointer;
}

.modal button:hover {
    color: #fff;
    background-color: #26303B;
}


.modal_redirect {
    margin-top: 8px;
    display: flex;
    align-items: center;
    border-top: 1px solid #fff;
}

.modal-info-icon {
    width: 14px;
    margin-right: 5px;
}

.modal-link{
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
}

.hide-modal-closeBtn {
    display: none;
}

.extra-space {
    margin-top: 20px;
}